Repository chack411/CongestionMonitor: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/azure-pipelines-console.yml, Pipelines/azure-pipelines-functions.yml, azure-pipelines.yml

Pipelines/azure-pipelines-console.yml:
  stages:
  - stage: Build
    displayName: Build .NET Core App
    jobs:
    - job: Build
      displayName: Build Console App
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: UseDotNet@2
        displayName: Install latest .NET Core SDK
        inputs:
          packageType: sdk
  ...

Pipelines/azure-pipelines-functions.yml:
  stages:
  - stage: Build
    displayName: Build Azure Functions App
    variables:
      workingDirectory: $(System.DefaultWorkingDirectory)/CongestionMonitorFunctionApp
      dotnetVersion: 3.1.x
      buildConfiguration: Release
    jobs:
    - job: Build
      displayName: Build Function App
      pool:
  ...

azure-pipelines.yml:
  steps:
  - task: AzureResourceManagerTemplateDeployment@3
    inputs:
      deploymentScope: Resource Group
      azureResourceManagerConnection: Edtter (bd5c9737-10a5-4178-9b83-fd223f7b4bb4)
      subscriptionId: bd5c9737-10a5-4178-9b83-fd223f7b4bb4
      action: Create Or Update Resource Group
  ...

Update arm-and-func-deploy.yml
  .github/workflows/arm-and-func-deploy.yml
Due: none

Delete azure-functions-apps.yml
  .github/workflows/azure-functions-apps.yml
Due: none

Update readme.md with build status
  README.md
Due: none

ci: add Azure Static Web Apps workflow file on-behalf-of: @Azure opensource@microsoft.com
  .github/workflows/azure-static-web-apps-ambitious-pebble-0329ece00.yml
Due: none

Add a new doc for arm and func deployment
  ARMTemplates/parameters.json
  CongestionStaticWebVueApp/.env
  Documentation/Images/cm_gh_secret3.png
  Documentation/Images/cm_gh_secret4.png
  Documentation/Images/cm_gh_updateworkflow.png
  Documentation/Images/cm_gh_updateworkflow2.png
  Documentation/Images/cm_run_actions.png
  Documentation/Images/cm_run_actions2.png
  Documentation/Images/cm_run_actions3.png
  Documentation/deploy-arm-and-function-app.md
  README.md
Due: Pipelines/azure-pipelines-functions.yml

Update documents for Actions
  Documentation/Images/cm_deployment.png
  Documentation/Images/cm_deployment_outputs.png
  Documentation/Images/cm_resources.png
  Documentation/build-camera-console-app.md
  Documentation/comfirm-static-web-app.md
  Documentation/deploy-arm-and-function-app.md
  Documentation/deploy-function-app.md
  Documentation/deploy-with-arm-template.md
  README.md
Due: none

Update images and fix typo
  Documentation/Images/cm_aswa_overview.png
  Documentation/Images/cm_aswa_resource.png
  Documentation/Images/cm_deployment.png
  Documentation/Images/cm_deployment_outputs.png
  Documentation/Images/cm_publishprofile.png
  Documentation/Images/cm_resources.png
  Documentation/build-camera-console-app.md
  Documentation/deploy-arm-and-function-app.md
Due: none

Update a doc link
  Documentation/deploy-with-arm-template.md
Due: none

Update architecture fig
  Documentation/Images/cm_architecture.png
  Documentation/Images/cm_architecture.pptx
Due: none

Delete azure-static-web-apps-ambitious-pebble-0329ece00.yml
  .github/workflows/azure-static-web-apps-ambitious-pebble-0329ece00.yml
Due: none

Update screen shots for GitHub PAT
  Documentation/Images/cm_gh_pat.png
  Documentation/Images/cm_gh_pat2.png
Due: none

change to recognition_01 and detection_01 model
  CongestionCameraConsoleApp/Program.cs
Due: Pipelines/azure-pipelines-console.yml

change to recognition_03 and detection_04 model
  CongestionCameraConsoleApp/Program.cs
Due: Pipelines/azure-pipelines-console.yml

Update with the latest recog model of Face API
  CongestionCameraConsoleApp/Program.cs
  CongestionStaticWebVueApp/src/App.vue
  README.md
Due: Pipelines/azure-pipelines-console.yml

Update UserSecretsId, etc
  CongestionCameraConsoleApp/CongestionCameraConsoleApp.csproj
  Documentation/build-camera-console-app.md
Due: Pipelines/azure-pipelines-console.yml

Replaced apps screenshot with the latest one
  Documentation/Images/cm_appsdemo.png
Due: none

Replaced the apps screenshot with the latest one
  Documentation/Images/cm_appsdemo.png
Due: none

Create LICENSE
  LICENSE
Due: none

update some pacakge version
  CongestionStaticWebVueApp/package-lock.json
Due: none

Update as latest one
  CongestionStaticWebVueApp/package-lock.json
Due: none

Update npm packages
  CongestionStaticWebVueApp/package-lock.json
  CongestionStaticWebVueApp/package.json
Due: none

Add provider to ARM Template
  ARMTemplates/template.json
Due: Pipelines/azure-pipelines-functions.yml, azure-pipelines.yml

Update Packages
  CongestionCameraConsoleApp/CongestionCameraConsoleApp.csproj
  CongestionMonitorFunctionApp/CongestionMonitorFunctionApp.csproj
  CongestionStaticWebVueApp/package-lock.json
  CongestionStaticWebVueApp/package.json
Due: Pipelines/azure-pipelines-console.yml, Pipelines/azure-pipelines-functions.yml

Updated to .NET 6 and the latest packages
  CongestionCameraConsoleApp/CongestionCameraConsoleApp.csproj
  CongestionMonitorFunctionApp/CongestionMonitorFunctionApp.csproj
  CongestionStaticWebVueApp/package-lock.json
  CongestionStaticWebVueApp/package.json
  VideoFrameAnalyzerLib/VideoFrameAnalyzerLib.csproj
Due: Pipelines/azure-pipelines-console.yml, Pipelines/azure-pipelines-functions.yml

Path conditions:
  Pipelines/azure-pipelines-console.yml: any of: CongestionCameraConsoleApp, VideoFrameAnalyzerLib, Pipelines/azure-pipelines-console.yml
  Pipelines/azure-pipelines-functions.yml: any of: ARMTemplates, CongestionMonitorFunctionApp, Pipelines/azure-pipelines-functions.yml
  azure-pipelines.yml: any of: ARMTemplates/template.json
