Repository chack411/CongestionMonitor: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/azure-pipelines-arm.yml, Pipelines/azure-pipelines-console.yml, Pipelines/azure-pipelines-functions.yml, azure-pipelines.yml

Pipelines/azure-pipelines-arm.yml:
  stages:
  - stage: Deployment
    displayName: Deployment with ARM Template
    jobs:
    - job: Deploy
      displayName: ARM Deployment Job
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: AzureResourceManagerTemplateDeployment@3
        displayName: Run ARM Deployment
        inputs:
  ...

Pipelines/azure-pipelines-console.yml:
  stages:
  - stage: Build
    displayName: Build .NET Core App
    jobs:
    - job: Build
      displayName: Build Console App
      pool:
        vmImage: $(vmImageName)
      variables:
      - group: cm-resource-param
      steps:
      - task: UseDotNet@2
        displayName: Install latest .NET Core SDK
        inputs:
  ...

Pipelines/azure-pipelines-functions.yml:
  stages:
  - stage: Build
    displayName: Build Azure Functions App
    jobs:
    - job: Build
      displayName: Build Function App
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: UseDotNet@2
        displayName: Install latest .NET Core SDK
        inputs:
          packageType: sdk
  ...

azure-pipelines.yml:
  steps:
  - task: AzureResourceManagerTemplateDeployment@3
    inputs:
      deploymentScope: Resource Group
      azureResourceManagerConnection: Edtter (bd5c9737-10a5-4178-9b83-fd223f7b4bb4)
      subscriptionId: bd5c9737-10a5-4178-9b83-fd223f7b4bb4
      action: Create Or Update Resource Group
  ...

Update workflow
  .github/workflows/azure-static-web-apps-white-cliff-050cb3e00.yml
Due: none

Update api path in workflow
  .github/workflows/azure-static-web-apps-white-cliff-050cb3e00.yml
Due: none

Update dummy api location in template.json
  ARMTemplates/template.json
Due: Pipelines/azure-pipelines-arm.yml, azure-pipelines.yml

Update .env
  CongestionStaticWebVueApp/.env
Due: none

Merge ARM and Functions pipelines
  CongestionStaticWebVueApp/.env
  Pipelines/azure-pipelines-functions.yml
Due: Pipelines/azure-pipelines-functions.yml

change variable scope
  Pipelines/azure-pipelines-functions.yml
Due: Pipelines/azure-pipelines-functions.yml

update variable using stageDependencies
  Pipelines/azure-pipelines-functions.yml
Due: Pipelines/azure-pipelines-functions.yml

Add output variable
  Pipelines/azure-pipelines-functions.yml
Due: Pipelines/azure-pipelines-functions.yml

Update README.md
  README.md
Due: none

Update output variables
  Pipelines/azure-pipelines-functions.yml
Due: Pipelines/azure-pipelines-functions.yml

update output variables
  Pipelines/azure-pipelines-functions.yml
Due: Pipelines/azure-pipelines-functions.yml

Cleanup
  Pipelines/azure-pipelines-functions.yml
Due: Pipelines/azure-pipelines-functions.yml

Mod pipelines to add GitHub comment etc.
  Pipelines/azure-pipelines-arm.yml
  Pipelines/azure-pipelines-functions.yml
Due: Pipelines/azure-pipelines-arm.yml, Pipelines/azure-pipelines-functions.yml

mod functions pipeline
  Pipelines/azure-pipelines-functions.yml
Due: Pipelines/azure-pipelines-functions.yml

Change variable scope level
  Pipelines/azure-pipelines-arm.yml
Due: Pipelines/azure-pipelines-arm.yml

Mod Azure Service Connection variables
  Pipelines/azure-pipelines-arm.yml
  Pipelines/azure-pipelines-functions.yml
Due: Pipelines/azure-pipelines-arm.yml, Pipelines/azure-pipelines-functions.yml

Update azure-pipelines-arm.yml for Azure Pipelines
  Pipelines/azure-pipelines-arm.yml
Due: Pipelines/azure-pipelines-arm.yml

Update azure-pipelines-functions.yml for Azure Pipelines
  Pipelines/azure-pipelines-functions.yml
Due: Pipelines/azure-pipelines-functions.yml

Add files for VSCode
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
Due: none

Change param in ARM Templates
  ARMTemplates/parameters.json
  ARMTemplates/template.json
Due: Pipelines/azure-pipelines-arm.yml, azure-pipelines.yml

ci: add Azure Static Web Apps workflow file on-behalf-of: @Azure opensource@microsoft.com
  .github/workflows/azure-static-web-apps-green-sky-0eff05900.yml
Due: none

Update github workflow
  .github/workflows/azure-static-web-apps-green-sky-0eff05900.yml
  .github/workflows/azure-static-web-apps-white-cliff-050cb3e00.yml
Due: none

Update and clean pipeline yml
  Pipelines/azure-pipelines-functions.yml
Due: Pipelines/azure-pipelines-functions.yml

Update .env file for the new func app
  CongestionStaticWebVueApp/.env
Due: none

Add appsettings.json
  CongestionCameraConsoleApp/Program.cs
  CongestionCameraConsoleApp/appsettings.json
  CongestionCameraConsoleApp/sample-secrets.json
Due: Pipelines/azure-pipelines-console.yml

Add to output parameters to console
  CongestionCameraConsoleApp/AppSettings.cs
  CongestionCameraConsoleApp/CongestionCameraConsoleApp.csproj
  CongestionCameraConsoleApp/Program.cs
Due: Pipelines/azure-pipelines-console.yml

update readme with architecture
  Documentation/Images/cm_architecrue.png
  README.md
Due: none

update readme.md
  README.md
Due: none

Path conditions:
  Pipelines/azure-pipelines-arm.yml: any of: ARMTemplates/template.json, ARMTemplates/parameters.json, Pipelines/azure-pipelines-arm.yml
  Pipelines/azure-pipelines-console.yml: any of: CongestionCameraConsoleApp, VideoFrameAnalyzerLib, Pipelines/azure-pipelines-console.yml
  Pipelines/azure-pipelines-functions.yml: any of: CongestionMonitorFunctionApp, Pipelines/azure-pipelines-functions.yml
  azure-pipelines.yml: any of: ARMTemplates/template.json
