Repository chack411/CongestionMonitor: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/azure-pipelines-arm.yml, azure-pipelines.yml

Pipelines/azure-pipelines-arm.yml:
  steps:
  - task: AzureResourceManagerTemplateDeployment@3
    displayName: ARM Deployment
    inputs:
      deploymentScope: Resource Group
      azureResourceManagerConnection: Edtter (bd5c9737-10a5-4178-9b83-fd223f7b4bb4)
      subscriptionId: bd5c9737-10a5-4178-9b83-fd223f7b4bb4
  ...

azure-pipelines.yml:
  steps:
  - task: AzureResourceManagerTemplateDeployment@3
    inputs:
      deploymentScope: Resource Group
      azureResourceManagerConnection: Edtter (bd5c9737-10a5-4178-9b83-fd223f7b4bb4)
      subscriptionId: bd5c9737-10a5-4178-9b83-fd223f7b4bb4
      action: Create Or Update Resource Group
  ...

Update azure-pipelines-arm.yml for Azure Pipelines
  Pipelines/azure-pipelines-arm.yml
Due: Pipelines/azure-pipelines-arm.yml

Update azure-pipelines-console.yml for Azure Pipelines
  Pipelines/azure-pipelines-console.yml
Due: none

Add location and functionsapp name to arm output
  ARMTemplates/template.json
Due: Pipelines/azure-pipelines-arm.yml, azure-pipelines.yml

Add functionsappName to variable group
  Pipelines/azure-pipelines-arm.yml
Due: Pipelines/azure-pipelines-arm.yml

Update deployment output task
  ARMTemplates/template.json
  Pipelines/azure-pipelines-arm.yml
Due: Pipelines/azure-pipelines-arm.yml, azure-pipelines.yml

Update deployment output task
  Pipelines/azure-pipelines-arm.yml
Due: Pipelines/azure-pipelines-arm.yml

Update deployment output task and mod parameters
  ARMTemplates/parameters.json
  ARMTemplates/template.json
  Pipelines/azure-pipelines-arm.yml
Due: Pipelines/azure-pipelines-arm.yml, azure-pipelines.yml

Update deopyment output task
  Pipelines/azure-pipelines-arm.yml
Due: Pipelines/azure-pipelines-arm.yml

Path conditions:
  Pipelines/azure-pipelines-arm.yml: any of: ARMTemplates/template.json, ARMTemplates/parameters.json, Pipelines/azure-pipelines-arm.yml
  azure-pipelines.yml: any of: ARMTemplates/template.json
