Repository chack411/CongestionMonitor: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/azure-pipelines-arm.yml, Pipelines/azure-pipelines-console.yml, azure-pipelines.yml

Pipelines/azure-pipelines-arm.yml:
  stages:
  - stage: Deployment
    displayName: Deployment with ARM Template
    jobs:
    - job: Deploy
      displayName: ARM Deployment Job
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: AzureResourceManagerTemplateDeployment@3
        displayName: Run ARM Deployment
        inputs:
  ...

Pipelines/azure-pipelines-console.yml:
  stages:
  - stage: Build
    displayName: Build .NET Core App
    jobs:
    - job: Build
      displayName: Build Console App
      pool:
        vmImage: $(vmImageName)
      variables:
      - group: cm-resource-param
      steps:
      - task: UseDotNet@2
        displayName: Install latest .NET Core SDK
        inputs:
  ...

azure-pipelines.yml:
  steps:
  - task: AzureResourceManagerTemplateDeployment@3
    inputs:
      deploymentScope: Resource Group
      azureResourceManagerConnection: Edtter (bd5c9737-10a5-4178-9b83-fd223f7b4bb4)
      subscriptionId: bd5c9737-10a5-4178-9b83-fd223f7b4bb4
      action: Create Or Update Resource Group
  ...

Update deployment output task
  Pipelines/azure-pipelines-arm.yml
Due: Pipelines/azure-pipelines-arm.yml

update deployment output task
  Pipelines/azure-pipelines-arm.yml
Due: Pipelines/azure-pipelines-arm.yml

update deployment output task for debug
  Pipelines/azure-pipelines-arm.yml
Due: Pipelines/azure-pipelines-arm.yml

Update deployment output task for Debug
  Pipelines/azure-pipelines-arm.yml
Due: Pipelines/azure-pipelines-arm.yml

update deployment output task for Debug
  Pipelines/azure-pipelines-arm.yml
Due: Pipelines/azure-pipelines-arm.yml

Update azure-pipelines-functions.yml for Azure Pipelines
  Pipelines/azure-pipelines-functions.yml
Due: none

update readme.md for Build Status
  README.md
Due: none

Update ARM Template
  ARMTemplates/parameters.json
  ARMTemplates/template.json
Due: Pipelines/azure-pipelines-arm.yml, azure-pipelines.yml

ci: add Azure Static Web Apps workflow file on-behalf-of: @Azure opensource@microsoft.com
  .github/workflows/azure-static-web-apps-proud-mud-022044700.yml
Due: none

Update .env file to update api url
  CongestionStaticWebVueApp/.env
Due: none

Update azure-static-web-apps-proud-mud-022044700.yml
  .github/workflows/azure-static-web-apps-proud-mud-022044700.yml
Due: none

Update .gitignore for vue app
  .gitignore
Due: none

Update .gitingore files
  .gitignore
  CongestionStaticWebVueApp/.gitignore
Due: none

delete dist files
  CongestionStaticWebVueApp/dist/css/site.css
  CongestionStaticWebVueApp/dist/favicon.ico
  CongestionStaticWebVueApp/dist/index.html
  CongestionStaticWebVueApp/dist/js/app.7ed04842.js
  CongestionStaticWebVueApp/dist/js/app.7ed04842.js.map
  CongestionStaticWebVueApp/dist/js/chunk-vendors.039b9993.js
  CongestionStaticWebVueApp/dist/js/chunk-vendors.039b9993.js.map
  CongestionStaticWebVueApp/dist/routes.json
Due: none

Add staticWeb deployment
  ARMTemplates/parameters.json
  ARMTemplates/template.json
  Pipelines/azure-pipelines-arm.yml
Due: Pipelines/azure-pipelines-arm.yml, azure-pipelines.yml

Update ARM template
  ARMTemplates/parameters.json
  ARMTemplates/template.json
Due: Pipelines/azure-pipelines-arm.yml, azure-pipelines.yml

ci: add Azure Static Web Apps workflow file on-behalf-of: @Azure opensource@microsoft.com
  .github/workflows/azure-static-web-apps-white-cliff-050cb3e00.yml
Due: none

Mod output value from ARM Template
  ARMTemplates/parameters.json
  ARMTemplates/template.json
  CongestionStaticWebVueApp/.env
  Pipelines/azure-pipelines-arm.yml
Due: Pipelines/azure-pipelines-arm.yml, azure-pipelines.yml

Update ARM pipeline and GitHub workflow
  .github/workflows/azure-static-web-apps-proud-mud-022044700.yml
  .github/workflows/azure-static-web-apps-white-cliff-050cb3e00.yml
  Pipelines/azure-pipelines-arm.yml
Due: Pipelines/azure-pipelines-arm.yml

Update ARM Pipeline
  Pipelines/azure-pipelines-arm.yml
Due: Pipelines/azure-pipelines-arm.yml

Update Workflow name
  .github/workflows/azure-static-web-apps-white-cliff-050cb3e00.yml
Due: none

Update README.md
  CongestionStaticWebVueApp/README.md
  README.md
Due: none

add Azure CLI task
  Pipelines/azure-pipelines-arm.yml
Due: Pipelines/azure-pipelines-arm.yml

Update Azure CLI task
  Pipelines/azure-pipelines-arm.yml
Due: Pipelines/azure-pipelines-arm.yml

Update AzureCLI Task
  Pipelines/azure-pipelines-arm.yml
Due: Pipelines/azure-pipelines-arm.yml

update AzureCLI Task
  ARMTemplates/template.json
  Pipelines/azure-pipelines-arm.yml
Due: Pipelines/azure-pipelines-arm.yml, azure-pipelines.yml

Update Azure CLI Task
  Pipelines/azure-pipelines-arm.yml
Due: Pipelines/azure-pipelines-arm.yml

Update Console Pipeline Yaml
  Pipelines/azure-pipelines-console.yml
Due: Pipelines/azure-pipelines-console.yml

Add dummy API codes
  CongestionStaticWebVueApp/api/Hello/function.json
  CongestionStaticWebVueApp/api/Hello/index.js
  CongestionStaticWebVueApp/api/host.json
  CongestionStaticWebVueApp/api/package.json
  CongestionStaticWebVueApp/api/proxies.json
Due: none

update dummy function
  CongestionStaticWebVueApp/api/Hello/index.js
Due: none

Path conditions:
  Pipelines/azure-pipelines-arm.yml: any of: ARMTemplates/template.json, ARMTemplates/parameters.json, Pipelines/azure-pipelines-arm.yml
  Pipelines/azure-pipelines-console.yml: any of: CongestionCameraConsoleApp, VideoFrameAnalyzerLib, Pipelines/azure-pipelines-console.yml
  azure-pipelines.yml: any of: ARMTemplates/template.json
